@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Biform';
  src: url('../fonts/Biform/biform_regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik/AeonikTRIAL-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik/AeonikTRIAL-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik/AeonikTRIAL-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
