@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Biform";
  src: url("../fonts/Biform/biform_regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
