@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Biform';
  src: url('../fonts/Biform/biform_regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik/AeonikTRIAL-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik/AeonikTRIAL-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik/AeonikTRIAL-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Clash-Display';
  src: url('../fonts/Clash-Display/ClashDisplay-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clash-Display';
  src: url('../fonts/Clash-Display/ClashDisplay-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash-Display';
  src: url('../fonts/Clash-Display/ClashDisplay-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clash-Display';
  src: url('../fonts/Clash-Display/ClashDisplay-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Clash-Display';
  src: url('../fonts/Clash-Display/ClashDisplay-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffef7;
}

html {
  scroll-behavior: smooth;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.star-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
